/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */
/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.hidden,
[hidden] {
  display: none !important;
}
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
}
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  background-color: #222222;
}
@media only screen and (min-width: 580px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .right {
    width: 10%;
    min-width: 250px;
    margin-left: 5px; margin-right: auto;
    padding: 10px;
    background-color: mediumpurple;
    border: solid blueviolet;
  }
  .left {
    width: 10%;
    min-width: 250px;
    margin-left: auto; margin-right: 5px;
    padding: 10px;
    background-color: darkkhaki;
    border: solid darkgoldenrod;
  }
  .top-center {
    height: 10%;
    width: 25%;
    min-width: 536px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: cadetblue;
    border: solid darkslategray;
  }
  .top-center-referral-badge {
    height: 10%;
    width: 25%;
    min-width: 536px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: darkseagreen;
    border: solid darkolivegreen;
  }
  .item-bottom-center {
    height: 10%;
    width: 25%;
    min-width: 536px;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: burlywood;
    border: solid indianred;
  }
}
@media only screen and (max-width: 580px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right {
    width: 90%;
    min-width: 150px;
    margin: 5px auto auto;
    padding: 10px;
    background-color: mediumpurple;
    border: solid blueviolet;
  }
  .left {
    width: 90%;
    min-width: 150px;
    margin: auto auto 5px;
    padding: 10px;
    background-color: darkkhaki;
    border: solid darkgoldenrod;
  }
  .top-center {
    height: 10%;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: cadetblue;
    border: solid darkslategray;
  }
  .top-center-referral-badge {
    height: 10%;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: darkseagreen;
    border: solid darkolivegreen;
  }
  .item-bottom-center {
    height: 10%;
    width: 90%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: burlywood;
    border: solid indianred;
  }
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}